* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #09080B;
    color: #fff;
    font-family: 'Roboto Flex', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: #fff;
}

p {
    font-size: 14px;
    line-height: 1.35em;
    color: #504D55;
}

button {
    background: transparent;
    color: #fff;
    border: none;
}

li {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Unbounded', cursive;
    text-transform: uppercase;
    font-weight: 300;
}

h1, h2, h3 {
    font-size: 80px;
    background: radial-gradient(#D9CEF8, rgba(255,255,255,0));
    background: -webkit-radial-gradient(#D9CEF8, rgba(255,255,255,0));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h3 {
    font-size: 64px;
}

h4 {
    font-size: 36px;
}

h5 {
    font-size: 24px;
}

h6 {
    font-size: 16px;
}

.container {
    max-width: 1200px;
    width: calc(100% - 30px);
    margin: 0 auto;
}

.hidden {
    background: #946EFF;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    right: -100%;
    opacity: 0;
    z-index: 200;
    transition: 0.5s ease;
    text-align: center;
    padding-top: 30%;
}

.hidden.active {
    right: 0;
    opacity: 1;
}

.hidden__close {
    cursor: pointer;
    width: 35px;
    height: 32px;
    position: absolute;
    top: 30px;
    right: 22px;
}

.hidden__close-item {
    background: #fff;
    position: absolute;
    transform: rotate(-45deg);
    height: 2px;
    width: 100%;
}

.hidden__close-item:last-child {
    transform: rotate(45deg);
}

.hidden__menu {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.hidden__link {
    font-family: 'Unbounded', cursive;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 24px;
}

.hidden__btn {
    width: 280px;
    margin: 0 auto;
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
    font-weight: 600;
    font-size: 12px;
    font-family: 'Roboto Flex', sans-serif;
    text-transform: initial;
    margin-top: 30%;
}



/* !================ Navbar ================! */

.navbar {
    background: rgba(10, 9, 13, 0.02);
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(25px);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.navbar.active {
    background: #09080B;
}

.navbar__content {
    display: flex;
    align-items: center;
    height: 70px;
}

.navbar__menu {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-left: 50px;
    transition: 0.3s ease;
}

.navbar__link {
    font-size: 12px;
    font-weight: 300;
    
}

.navbar__link:hover {
    color: #946EFF;
    /* font-weight: 500; */
}

.navbar__btn {
    background: #141119;
    text-align: center;
    border-radius: 5px;
    margin-left: auto;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 134px;
    height: 40px;
    cursor: pointer;
    transition: 0.3s ease;
}

.navbar__btn:hover {
    background: #7521FF;
}

.navbar__burger {
    background: #141119;
    width: 38px;
    height: 28px;
    border-radius: 3px;
    padding: 0 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3px;
    margin-left: 5px;
    cursor: pointer;
    display: none;
}

.navbar__burger-item {
    width: 100%;
    height: 2px;
    background: #946EFF;
}


/* !================ Header ================! */

.header {
    background: url("../img/bg-main.png") no-repeat center;
    padding: 98px 0 131px;
    position: relative;
    margin-top: 70px;
}

.header__roadmap {
    background: url("../img/angel.png") no-repeat center;
    background-size: contain;
}

.header .container {
    position: relative;
    z-index: 10;
}

.header:before {
    content: '';
    width: 526px;
    height: 526px;
    position: absolute;
    border-radius: 50%;
    background: #3F2676;
    filter: blur(250px);
    -webkit-filter: blur(250px);
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    pointer-events: none;
}

.header__title {
    width: min-content;
    margin: auto;
    z-index: 10;
    padding: 50px 0;
}

.header__title span:last-child {
    margin-left: 101px;
}

.header__text {
    color: #fff;
    line-height: 1.3em;
    opacity: 0.65;
    max-width: 412px;
    margin-left: auto;
    margin-top: -50px;
    margin-right: 83px;
    line-height: 1.3em;
}

/* !================ Numbers ================! */

.numbers {
    background: #14111A;
    border-radius: 10px;
    padding: 28px 0 27px;
}

.numbers__content {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

.numbers__item {
    max-width: 310px;
    margin: 0 10px;
    display: flex;
    align-items: center;
}

.numbers__number {
    font-family: 'Unbounded', cursive;
    font-size: 24px;
    font-weight: 400;
}

.numbers__text {
    font-size: 14px;
    line-height: 1em;
    opacity: 0.56;
    margin-left: 10px;
    max-width: 210px;
}


/* !================ What is STD ================! */


.whatis {
    padding: 177px 0 181px;
    text-align: center;
}

.whatis__title {
    margin-bottom: 20px;
}

.whatis__content {
    position: relative;
}

.whatis__content:before {
    content: '';
    position: absolute;
    top: -230px;
    left: 50%;
    transform: translateX(-50%) rotate(180deg);
    background: linear-gradient(180deg, #141119 0%, rgba(20, 17, 25, 0) 45.57%);
    width: 850px;
    height: 850px;
    border-radius: 50%;
    z-index: -1;
}

.whatis__items {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.whatis__item {
    margin-top: 40px;
    max-width: 322px;
}

.whatis__icon {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.whatis__name {
    margin-top: 24px;
    margin-bottom: 8px;
}

.whatis__new {
    margin-top: 184px;
}

.whatis__new .whatis__desk {
    max-width: 492px;
    margin: 0 auto;
}



/* !================ Who ================! */

.who {
    padding: 181px 0 173px;
    text-align: center;
}


.who__title {
    margin-bottom: 40px;
}

.who__items {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.who__item {
    margin-top: 40px;
    max-width: 320px;
}

.who__name {
    margin: 10px 0;
}


/* !================ SEO ================! */

.seo {
    background: #141119;
    padding: 54px 0 61px;
}

.seo__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.seo__wrap {
    display: flex;
    align-items: center;
    gap: 26px;
}

.seo__img {
    width: 96px;
    height: 96px;
    border-radius: 50%;
}

.seo__text {
    max-width: 750px;
    color: #C5BEE3;
}

.seo__name {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5em;
}

.seo__position {
    font-size: 14px;
    color: #96939B;
}


/* !================ Cases ================! */

.cases {
    padding: 200px 0 120px;
}

.cases-page {
    padding: 100px 0;
}

.cases-page .breadcrumb {
    border-color: transparent;
}

.cases-page .cases__title {
    text-align: left;
}

.cases-page .cases__items {
    overflow: initial;
    flex-wrap: wrap;
}

.cases-page .cases__btn {
    background: #141119;
    color: #946EFF;
    height: 56px;
}

.cases__filters {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
}

.cases__filter {
    width: calc(25% - 38px);
    min-width: 280px;
    margin-top: 60px;
}

.cases__filter-name {
    font-size: 12px;
    color: #4B4852;
    margin-bottom: 7px;
}

.cases__select {
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid #4B4852;
    color: #fff;
    padding: 6px 0;
    outline: none;
    cursor: pointer;
}

.cases__title {
    text-align: center;
    margin-bottom: 20px;
}

.cases__items {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    overflow-x: scroll;
    cursor: grab;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.cases__items::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari and Opera */
}

.cases__item {
    min-width: 280px;
    width: 285px;
    margin-top: 34px;
    margin-bottom: 60px;
}

.cases__img {
    width: 100%;
    height: 287px;
    object-fit: cover;
    margin-bottom: 15px;
}

.cases__name {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 5px;
}

.cases__points {
    width: 178px;
    display: flex;
    justify-content: space-between;
}

.cases__point {
    margin-top: 15px;
}

.cases__point-title {
    font-size: 10px;
    color: #4B4852;
    margin-bottom: 5px;
}

.cases__point-result {
    font-weight: 600;
}

.cases__btn {
    background: #946EFF;
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* !================ Double Range ================! */

.range_container {
    /* display: flex;
    flex-direction: column;
    width: 80%;
    margin: 100px auto; */
  }
  
  .sliders_control {
    position: relative;
    min-height: 15px;
    margin-top: 20px;
  }
  
  .form_control {
    position: relative;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: #946EFF;
  }
  
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    pointer-events: all;
    width: 13px;
    height: 13px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #C6C6C6;
    cursor: pointer;
  }
  
  input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    pointer-events: all;
    width: 13px;
    height: 13px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #C6C6C6;
    cursor: pointer;  
  }
  
  input[type=range]::-webkit-slider-thumb:hover {
    background: #f7f7f7;
  }
  
  input[type=range]::-webkit-slider-thumb:active {
    box-shadow: inset 0 0 3px #946EFF, 0 0 9px #946EFF;
    -webkit-box-shadow: inset 0 0 3px #946EFF, 0 0 9px #946EFF;
  }
  
  input[type="number"] {
    -moz-appearance: textfield;
    background: transparent;
    color: #4B4852;
    width: fit-content;
    pointer-events: none;
    font-size: 12px;
    border: none;
  }
  
  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button {  
    -webkit-appearance: none;
     opacity: 1;
  }
  
  input[type="range"] {
    -webkit-appearance: none; 
    appearance: none;
    height: 3px;
    width: 100%;
    position: absolute;
    background-color: #C6C6C6;
    pointer-events: none;
  }
  
  #fromSlider {
    height: 0;
    z-index: 1;
  }



/* !================ Reviews ================! */

.reviews {
    padding: 120px 0 152px;
    text-align: center;
}

.reviews__title {
    margin-bottom: 30px;
}

.reviews__items {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    overflow: hidden;
}

.reviews__item {
    width: 234px;
    min-width: 234px;
    height: 377px;
    opacity: 0.2;
    position: relative;
}

.reviews__item:after {
    content: '';
    background: url("../img/play-icon.svg") no-repeat center / contain;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 48px;
    height: 48px;
}

.reviews__item.active {
    width: 306px;
    min-width: 306px;
    height: 493px;
    opacity: 0.7;
}

.reviews__item.active:after {
    width: 70px;
    height: 70px;
}

.reviews__video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* !================ Reviews ================! */

.format {
    padding: 152px 0 142px;
}

.format__title {
    text-align: center;
    margin-bottom: 50px;
}

.format__wrap {
    display: flex;  
    justify-content: space-between;
    flex-wrap: wrap;
}

.format__item {
    background: #946EFF;
    width: calc(25% - 15px);
    height: 150px;
    padding: 15px 13px;
    margin-bottom: 20px;
    display: flex;
    align-items: flex-end;
}

.format__item:last-child {
    margin-right: auto;
    margin-left: 30px;
}

.format__empty {
    width: 24%;
}


/* !================ Next ================! */

.next {
    padding: 142px 0 200px;
    text-align: center;
}

.next__title {
    margin-bottom: 20px;
}

.next__text {
    color: #fff;
    max-width: 424px;
    margin: 0 auto 50px
}

.next__btn {
    background: #946EFF;
    height: 66px;
    font-weight: 600;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


/* !================ QA ================! */

.qa {
    padding: 200px 0 145px;
}

.qa__title {
    text-align: center;
    margin-bottom: 60px;
}

.qa__icon {
    transition: 0.5s ease;
}

.qa__item {
    max-width: 804px;
    margin: 0 auto 10px;
    max-height: 70px;
    transition: 0.5s ease;
    overflow: hidden;
}

.qa__item.active {
    max-height: 300px;
}

.qa__item.active .qa__icon {
    transform: rotate(180deg);
}

.qa__header {
    background: #141119;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    padding: 0 29px;
    cursor: pointer;
}

.qa__body {
    padding: 20px 30px;
}



/* !================ Quote ================! */

.quote {
    padding: 145px 0 176px;
    text-align: center;
}

.quote__text {
    font-size: 50px;
    margin-bottom: 60px;
}

.quote__author {
    color: #fff;
    opacity: 0.6;
}


/* !================ Form ================! */

.form {
    background: #946EFF;
    padding: 90px 0 132px;
    scroll-margin-top: 60px;
}

.form__title {
    -webkit-text-fill-color: initial;
    font-size: 50px;
    color: #fff;
    text-align: center;
    margin-bottom: 55px;
}

.form__wrap {
    width: 392px;
    max-width: 100%;
    margin: auto;
}

.form__input {
    padding: 22px 30px;
    background: #fff;
    font-weight: 500;
    margin-bottom: 10px;
    width: 100%;
    border: none;
    outline: none;
}

.form__input::placeholder {
    color: #CEC6E1;
}

.form__submit {
    display: flex;
    align-items: center;
    gap: 8px;
}

.form__check {
    width: 18px;
    height: 18px;
}

.form__btn {
    background: transparent;
    height: 56px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    border: 1px solid #FFFFFF;
    margin-top: 20px;
    margin-bottom: 30px;
    cursor: pointer;
}


/* !================ Footer ================! */

.footer {
    padding: 48px 0 87px;
    text-align: center;
    margin-top: auto;
}

.footer__logo {
    height: 30px;
}

.footer__menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding-bottom: 31px;
    border-bottom: 1px solid #4B4852;
}

.footer__link {
    margin-top: 42px;
    display: block;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 500;
    color: #C5BEE3;
}

.footer__credits {
    margin-top: 33px;
    color: #4B4852;
    font-size: 10px;
    font-weight: 500;
}

.footer__credits-link {
    color: #4B4852;
    text-decoration: underline;
    display: block;
    width: fit-content;
    margin: 0 auto 6px;
}

.footer__credits-text {
    margin-top: 33px;
}



/* !================ Case ================! */

.case {
    padding-top: 156px;
}

.breadcrumb {
    display: flex;
    align-items: center;
    gap: 17px;
    padding-bottom: 19px;
    border-bottom: 1px solid #4B4852;
}

.breadcrumb__link {
    color: #4B4852;
    white-space: nowrap;
}

.breadcrumb__icon {
    min-width: 7px;
}

.breadcrumb__link.active {
    color: #fff;
}

.case__content {
    padding: 20px 0 50px;
}

.case__row {
    display: flex;
    margin-bottom: 100px;
}

.case__row-title {
    color: #4B4852;
}

.case__header {
    margin-bottom: 148px;
}

.case__header .case__info {
    height: 660px;
}

.case__info {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-right: 20px;
}

.case__name {
    font-size: 50px;
    margin-top: 145px;
}

.case__stats {
    margin-top: auto;
}

.case__stats-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #4B4852;
    padding: 28px 0 7px;
    gap: 20px;
}

.case__stats-name {
    color: #4B4852;
}

.case__stats-data {
    text-align: right;
}

.case__body {
    width: 50%;
}

.case__body-text {
    font-size: 14px;
    line-height: 1.5em;
    margin-bottom: 10px;
}

.case__body img+img {
    margin-left: 17px;
}

.case__video {
    width: 306px;
    position: relative;
}

.case__video:after {
    content: '';
    background: url('../img/play-icon.svg') no-repeat center / contain;
    width: 70px;
    height: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.case__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.case__btn {
    width: 100%;
    height: 52px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    border: 1px solid #4B4852;
}

.case__body .case__btn {
    justify-content: end;
}

.member__info {
    display: flex;
    flex-direction: row;
}

.member__info-title {
    width: 300px;
}

.member__company {
    font-weight: 600;
}

/* !================ Roadmap ================! */

.roadmap {
    padding: 130px 0 188px;
    text-align: center;
}

.roadmap__name {
    margin-bottom: 10px;
}

.roadmap__line {
    background: linear-gradient(to top, #818082, rgba(255,255,255,0.0));
    height: 220px;
    width: 2px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 30px;
}

.roadmap__line:after {
    content: '';
    background: #818082;
    position: absolute;
    bottom: -4px;
    left: -3px;
    width: 8px;
    height: 8px;
    transform: rotate(45deg);
}

.roadmap__logo {
    height: 70px;
}

.roadmap__logo.big {
    height: 80px;
}

.roadmap__logo.small {
    height: 60px;
}

.roadmap__text {
    max-width: 265px;
    margin: 0 auto;
}


/* !================ Team ================! */

.team {
    padding-top: 100px;
    padding-bottom: 176px;
}

.team .breadcrumb {
    border: none;
}

.team__content {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.team__member {
    margin-top: 44px;
    width: 285px;
}

.team__img {
    width: 100%;
    aspect-ratio: 1 / 1;
}

.team__name {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
}































@media screen and (max-width: 1200px) {
    .container {
        max-width: 1140px;
    }
    .seo__text {
        max-width: 680px;
    }
    .cases__items {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .cases__filters {
        gap: 0;
        margin-bottom: 80px;
    }
    .cases__filter {
        width: 40%;
        margin-right: 7%;
    }
    .cases-page .cases__items {
        gap: 0;
    }
    .cases-page .cases__item {
        min-width: auto;
        width: calc(33% - 20px);
        margin: 0 10px 40px;
    }
    .member__info {
        flex-direction: column;
    }
}

@media screen and (max-width: 992px) {
    .container {
        max-width: 960px;
    }
    h1, h2 {
        font-size: 60px;
    }
    .navbar__menu {
        gap: 30px;
        margin-left: 30px;
    }
    .header {
        padding-top: 245px;
        padding-bottom: 90px;
        background-size: 40%;
    }
    .header__text {
        max-width: 234px;
        margin-top: -37px;
    }
    .whatis {
        padding-top: 167px;
        padding-bottom: 90px;
    }
    .numbers__number {
        font-size: 18px;
    }
    .numbers__text {
        font-size: 12px;
    }
    .whatis__content:before {
        width: 766px;
        height: 766px;
        top: -150px;
    }
    .who {
        padding-bottom: 148px;
    }
    .who__item {
        max-width: 230px;
        margin: 0 auto;
    }
    .seo__text {
        max-width: 480px;
        color: #96939B;
    }
    .cases {
        padding: 150px 0 30px;
    }
    .reviews, .next, .qa {
        padding-bottom: 0;
    }
    .format {
        padding-bottom: 30px;
    }
    .format__item, .format__empty {
        width: calc(50% - 10px);
    }
    .format__item:last-child {
        margin-left: 0;
    }
    .qa {
        padding-top: 150px;
    }
    .quote {
        padding-bottom: 100px;
    }
    .quote__text {
        font-size: 36px;
        max-width: 90%;
        margin: 0 auto 30px;
    }
    .form {
        padding: 70px 0 130px
    }
    .form__title {
        font-size: 36px;
        margin-bottom: 26px;
    }
    .case__header {
        flex-direction: column-reverse;
    }
    .case__header .case__info, .case__header .case__body {
        width: 100%;
        height: auto;
    }
    .case__name {
        margin-top: 50px;
    }
    .case__row {
        margin-bottom: 50px;
    }
    .case__body {
        width: 65%;
    }
    .case__body img {
        max-width: 230px;
    }
    .case__img {
        max-width: initial !important;
    }
    .case__info {
        width: 35%;
    }
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 720px;
    }
    h1, h2 {
        font-size: 28px;
    }
    h5 {
        font-size: 18px;
    }
    h6 {
        font-size: 14px;
    }
    .navbar__content {
        height: 50px;
    }
    .navbar__menu {
        display: none;
    }
    .navbar__btn {
        width: 112px;
        height: 28px;
    }
    .navbar__burger {
        display: flex;
    }
    .header {
        padding-top: 93px;
        padding-bottom: 53px;
        background-size: 180px;
        background-position-y: 60px;
    }

    .header__roadmap {
        background-size: contain;
        background-position-y: 20px;
    }

    .header:before {
        width: 235px;
        height: 235px;
        filter: blur(75px);
        -webkit-filter: blur(75px);
        top: 70px;
    }

    .header__title span:last-child {
        margin-left: 23px;
    }
    .header__text {
        font-size: 12px;
        margin: 75px auto 0;
        text-align: center;
        color: #C5BEE3;
    }
    .number {
        padding: 60px 0;
    }
    .numbers__content {
        flex-direction: column;
        gap: 40px
    }
    .numbers__item {
        flex-direction: column;
        text-align: center;
        margin: auto;
        gap: 10px;
    }
    .whatis {
        padding-top: 70px;
        padding-bottom: 50px;
    }
    .whatis__items {
        flex-direction: column;
        gap: 80px;
    }
    .whatis__title {
        margin-bottom: 55px;
    }
    .whatis__item {
        margin: 0 auto;
    }
    .whatis__content {
        overflow: hidden;
    }
    .whatis__content::before {
        top: 230px;
    }
    .who {
        padding-top: 100px;
        padding-bottom: 82px;
    }
    .who__title {
        margin-bottom: 60px;
    }
    .who__items {
        flex-direction: column;
        gap: 60px;
    }
    .seo {
        padding: 30px 0;
    }
    .seo__content {
        flex-direction: column-reverse;
        gap: 30px;
    }
    .seo__wrap {
        flex-direction: column;
        gap: 10px;
    }
    .seo__name {
        font-size: 16px;
    }
    .reviews__items {
        gap: 20px;
    }
    .reviews__item {
        min-width: 174px;
        height: 280px;
    }
    .reviews__item.active {
        min-width: 230px;
        height: 370px;
    }
    .format__item {
        width: 100%;
        height: 64px;
    }
    .qa__header {
        height: 64px;
        font-size: 12px;
        padding: 15px;
    }
    .qa__body {
        padding: 15px;
        font-size: 12px;
    }
    .quote {
        padding: 93px 0 48px;
    }
    .quote__text {
        font-size: 16px;
        margin-bottom: 23px;
    }
    .form {
        padding: 20px 0 42px;
    }
    .form__wrap {
        width: 320px;
    }
    .form__title {
        font-size: 18px;
    }
    .form__input {
        height: 56px;
        padding-left: 20px;
    }
    .form__submit {
        font-size: 10px;
    }
    .footer {
        padding: 54px 0 64px;
    }
    .footer__menu {
        flex-direction: column;
        gap: 30px;
    }
    .footer__logo {
        margin-bottom: 36px;
    }
    .footer__link {
        margin-top: 0;
    }
    .breadcrumb {
        gap: 10px;
        overflow: hidden;
    }
    .breadcrumb__category {
        display: none;
    }
    .case__name {
        font-size: 28px;
        margin-top: 20px;
    }
    .case__row {
        flex-direction: column;
        gap: 12px;
    }
    .case__header {
        flex-direction: column-reverse;
        margin-bottom: 70px;
    }
    .case__body, .case__info {
        width: 100%;
    }
    .case__body img+img {
        margin-left: 0;
        margin-top: 10px;
    }
    .case__buttons {
        flex-direction: row;
    }
    .case__btn {
        padding: 0;
        justify-content: center !important;
    }
    .roadmap {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .roadmap__line {
        height: 170px;
    }
    .cases-page {
        padding-top: 70px;
    }
    .cases-page .cases__items {
        gap: 0;
        justify-content: space-between;
    }
    .cases-page .cases__item {
        min-width: auto;
        width: calc(50% - 10px);
        margin: 0 0 40px 0;
    }
    .cases-page .cases__img {
        height: 170px;
    }
    .cases-page .cases__name {
        font-size: 14px;
    }
    .cases-page .cases__text {
        font-size: 12px;
    }
    .cases-page .cases__points {
        flex-direction: column;
        width: auto;
    }
    .cases-page .cases__point-title {
        font-size: 10px;
    }
    .cases-page .cases__point-result {
        font-size: 14px;
    }
    .cases__filter {
        width: 100%;
        margin-right: 0;
        margin-top: 35px;
    }
    .team, .member {
        padding: 70px 0 100px;
    }
    .team__content {
        gap: 0;
        justify-content: space-between;
    }
    .team__member {
        max-width: calc(50% - 10px);
    }
    .team__name {
        font-size: 14px;
    }
    .team__text {
        font-size: 12px;
    }
    .breadcrumb {
        padding-bottom: 10px;
    }
    .breadcrumb__link {
        font-size: 12px;
    }
}

