* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #09080B;
    color: #fff;
    font-family: 'Roboto Flex', sans-serif;
}

a {
    text-decoration: none;
    color: #fff;
}

p {
    font-size: 14px;
    line-height: 1.35em;
    color: #504D55;
}

button {
    background: transparent;
    color: #fff;
    border: none;
}

li {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Unbounded', cursive;
    text-transform: uppercase;
    font-weight: 300;
}

h1, h2, h3 {
    font-size: 80px;
    background: radial-gradient(#D9CEF8, rgba(255,255,255,0));
    background: -webkit-radial-gradient(#D9CEF8, rgba(255,255,255,0));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h3 {
    font-size: 64px;
}

h4 {
    font-size: 36px;
}

h5 {
    font-size: 24px;
}

h6 {
    font-size: 16px;
}

.container {
    max-width: 1200px;
    width: calc(100% - 30px);
    margin: 0 auto;
}



/* !================ Navbar ================! */

.navbar {
    background: rgba(10, 9, 13, 0.02);
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(25px);
    position: fixed;
    top: 0;
    width: 100%;
    padding: 15px 0;
    z-index: 100;
}

.navbar__content {
    display: flex;
    align-items: center;
}

.navbar__menu {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-left: 50px;
    transition: 0.3s ease;
}

.navbar__link {
    font-size: 12px;
    font-weight: 300;
    
}

.navbar__link:hover {
    color: #946EFF;
    /* font-weight: 500; */
}

.navbar__btn {
    background: #141119;
    text-align: center;
    border-radius: 5px;
    margin-left: auto;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 134px;
    height: 40px;
    cursor: pointer;
    transition: 0.3s ease;
}

.navbar__btn:hover {
    background: #7521FF;
}

.navbar__burger {
    background: #141119;
    width: 38px;
    height: 28px;
    border-radius: 3px;
    padding: 0 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3px;
    margin-left: 5px;
    display: none;
}

.navbar__burger-item {
    width: 100%;
    height: 2px;
    background: #946EFF;
}


/* !================ Header ================! */

.header {
    background: url("../img/bg-main.png") no-repeat center;
    padding: 98px 0 131px;
    position: relative;
    margin-top: 70px;
}

.header .container {
    position: relative;
    z-index: 10;
}

.header:before {
    content: '';
    width: 526px;
    height: 526px;
    position: absolute;
    border-radius: 50%;
    background: #3F2676;
    filter: blur(250px);
    -webkit-filter: blur(250px);
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    pointer-events: none;
}

.header__title {
    width: min-content;
    margin: auto;
    z-index: 10;
    padding: 50px 0;
}

.header__title span:last-child {
    margin-left: 101px;
}

.header__text {
    color: #fff;
    line-height: 1.3em;
    opacity: 0.65;
    max-width: 412px;
    margin-left: auto;
    margin-top: -50px;
    margin-right: 83px;
    line-height: 1.3em;
}

/* !================ Numbers ================! */

.numbers {
    background: #14111A;
    border-radius: 10px;
    padding: 28px 0 27px;
}

.numbers__content {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

.numbers__item {
    max-width: 310px;
    margin: 0 10px;
    display: flex;
    align-items: center;
}

.numbers__number {
    font-family: 'Unbounded', cursive;
    font-size: 24px;
    font-weight: 400;
}

.numbers__text {
    font-size: 14px;
    line-height: 1em;
    opacity: 0.56;
    margin-left: 10px;
    max-width: 210px;
}


/* !================ What is STD ================! */


.whatis {
    padding: 177px 0 181px;
    text-align: center;
}

.whatis__title {
    margin-bottom: 20px;
}

.whatis__items {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.whatis__item {
    margin-top: 40px;
    max-width: 322px;
}

.whatis__icon {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.whatis__name {
    margin-top: 24px;
    margin-bottom: 8px;
}

.whatis__new {
    margin-top: 184px;
}

.whatis__new .whatis__desk {
    max-width: 492px;
    margin: 0 auto;
}



/* !================ Who ================! */

.who {
    padding: 181px 0 173px;
    text-align: center;
}


.who__title {
    margin-bottom: 40px;
}

.who__items {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.who__item {
    margin-top: 40px;
    max-width: 320px;
}

.who__name {
    margin: 10px 0;
}


/* !================ SEO ================! */

.seo {
    background: #141119;
    padding: 54px 0 61px;
}

.seo__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.seo__wrap {
    display: flex;
    align-items: center;
    gap: 26px;
}

.seo__img {
    width: 96px;
    height: 96px;
    border-radius: 50%;
}

.seo__text {
    max-width: 750px;
}

.seo__name {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5em;
}

.seo__position {
    font-size: 14px;
    color: #96939B;
}


/* !================ Cases ================! */

.cases {
    padding: 200px 0 120px;
}

.cases__title {
    text-align: center;
    margin-bottom: 20px;
}

.cases__items {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.cases__item {
    width: 24%;
    margin-top: 34px;
    margin-bottom: 60px;
}

.cases__img {
    width: 100%;
    height: 264px;
    object-fit: cover;
    margin-bottom: 15px;
}

.cases__name {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 5px;
}

.cases__points {
    width: 178px;
    display: flex;
    justify-content: space-between;
}

.cases__point {
    margin-top: 15px;
}

.cases__point-title {
    font-size: 10px;
    color: #4B4852;
    margin-bottom: 5px;
}

.cases__point-result {
    font-weight: 600;
}

.cases__btn {
    background: #946EFF;
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}



/* !================ Reviews ================! */

.reviews {
    padding: 120px 0 152px;
    text-align: center;
}

.reviews__title {
    margin-bottom: 30px;
}

.reviews__items {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.reviews__item {
    width: 234px;
    height: 377px;
    opacity: 0.2;
    position: relative;
}

.reviews__item:after {
    content: '';
    background: url("/img/play-icon.svg") no-repeat center / contain;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 48px;
    height: 48px;
}

.reviews__item.active {
    width: 306px;
    height: 493px;
    opacity: 0.7;
}

.reviews__item.active:after {
    width: 70px;
    height: 70px;
}

.reviews__video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* !================ Reviews ================! */

.format {
    padding: 152px 0 142px;
}

.format__title {
    text-align: center;
    margin-bottom: 50px;
}

.format__wrap {
    display: flex;  
    justify-content: space-between;
    flex-wrap: wrap;
}

.format__item {
    background: #7521FF;
    width: calc(25% - 15px);
    height: 150px;
    padding: 15px 13px;
    margin-bottom: 20px;
    display: flex;
    align-items: flex-end;
}

.format__item:last-child {
    margin-right: auto;
    margin-left: 30px;
}

.format__empty {
    width: 24%;
}


/* !================ Next ================! */

.next {
    padding: 142px 0 200px;
    text-align: center;
}

.next__title {
    margin-bottom: 20px;
}

.next__text {
    color: #fff;
    max-width: 424px;
    margin: 0 auto 50px
}

.next__btn {
    background: #7521FF;
    height: 66px;
    font-weight: 600;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


/* !================ QA ================! */

.qa {
    padding: 200px 0 145px;
}

.qa__title {
    text-align: center;
    margin-bottom: 60px;
}

.qa__item {
    max-width: 804px;
    background: #141119;
    margin: 0 auto 10px;
}

.qa__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    padding: 0 29px;
    cursor: pointer;
}



/* !================ Quote ================! */

.quote {
    padding: 145px 0 176px;
    text-align: center;
}

.quote__text {
    font-size: 50px;
    margin-bottom: 60px;
}

.quote__author {
    color: #fff;
    opacity: 0.6;
}


/* !================ Form ================! */

.form {
    background: #7521FF;
    padding: 90px 0 132px;
}

.form__title {
    -webkit-text-fill-color: initial;
    font-size: 50px;
    color: #fff;
    text-align: center;
    margin-bottom: 55px;
}

.form__wrap {
    width: 392px;
    margin: auto;
}

.form__input {
    padding: 22px 30px;
    background: #fff;
    font-weight: 500;
    margin-bottom: 10px;
    width: 100%;
    border: none;
}

.form__input::placeholder {
    color: #CEC6E1;
}

.form__submit {
    display: flex;
    align-items: center;
    gap: 8px;
}

.form__check {
    width: 18px;
    height: 18px;
}

.form__btn {
    background: transparent;
    height: 56px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    border: 1px solid #FFFFFF;
    margin-top: 20px;
    margin-bottom: 30px;
    cursor: pointer;
}


/* !================ Footer ================! */

.footer {
    padding: 48px 0 87px;
    text-align: center;
}

.footer__logo {
    height: 30px;
}

.footer__menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding-bottom: 31px;
    border-bottom: 1px solid #4B4852;
}

.footer__link {
    margin-top: 42px;
    display: block;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 500;
    color: #C5BEE3;
}

.footer__credits {
    margin-top: 33px;
    color: #4B4852;
    font-size: 10px;
    font-weight: 500;
}

.footer__credits-link {
    color: #4B4852;
    text-decoration: underline;
    display: block;
    width: fit-content;
    margin: 0 auto 6px;
}

.footer__credits-text {
    margin-top: 33px;
}






























@media screen and (max-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media screen and (max-width: 992px) {
    .container {
        max-width: 960px;
    }
    h1, h2 {
        font-size: 60px;
    }
    .navbar__menu {
        gap: 30px;
        margin-left: 30px;
    }
    .header {
        padding-top: 245px;
        padding-bottom: 90px;
        background-size: 40%;
    }
    .header__text {
        max-width: 234px;
        margin-top: -37px;
    }
    .numbers__number {
        font-size: 18px;
    }
    .numbers__text {
        font-size: 12px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 720px;
    }
    h1, h2 {
        font-size: 28px;
    }
    .navbar {
        padding: 8px 0;
    }
    .navbar__menu {
        display: none;
    }
    .navbar__btn {
        width: 85px;
        height: 28px;
        font-size: 8px;
    }
    .navbar__burger {
        display: flex;
    }
    .header {
        padding-top: 93px;
        padding-bottom: 53px;
        background-size: 180px;
        background-position-y: 60px;
    }

    .header:before {
        width: 235px;
        height: 235px;
        filter: blur(75px);
        -webkit-filter: blur(75px);
        top: 70px;
    }

    .header__title span:last-child {
        margin-left: 23px;
    }
    .header__text {
        font-size: 12px;
        margin: 75px auto 0;
        text-align: center;
        color: #C5BEE3;
    }
    .number {
        padding: 60px 0;
    }
    .numbers__content {
        flex-direction: column;
        gap: 40px
    }
    .numbers__item {
        flex-direction: column;
        text-align: center;
        margin: auto;
        gap: 10px;
    }
}

